.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    margin: 3rem auto;
}
.movie-list article {
    display: flex;
    justify-content: center;
}