#search-movies > form .radio-form {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1rem auto 1rem auto;
  gap: 0.5rem;
  max-width: 15rem;
}
.search-form > input {
  padding: 0.4rem;
  margin-right: 1rem;
  width: 25rem;
  max-width: calc(100% - 110px);
}
#search-movies > p {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
  margin: 3rem auto;
}
.movie-list article {
  display: flex;
  justify-content: center;
  position: relative;
}
.movie-list article a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
  color: var(--white);
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.2);
}
.movie-list article > a:hover {
  transform: scale(1.1);
}
.movie-list a h3 {
  margin: .5rem auto 1.2rem;
}
/* Paginator */
.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 22rem;
  align-items: center;
  text-align: center;
  margin: 0 auto 7rem;
  padding-top: 2rem;
}
.pagination > p {
  padding: .5rem;
    background-color: var(--darkBlue);
    cursor: pointer;
    transition: all .5s ease-out;
    margin: 0;
    color: var(--grey);
}